In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load
find_path_schools = "Resource/02-Homework_04-Pandas_PyCitySchools_Resources_schools_complete.csv"
find_path_students = "Resource/02-Homework_04-Pandas_PyCitySchools_Resources_students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(find_path_schools)
student_data = pd.read_csv(find_path_students)

In [4]:
school_data.head(2)

   School ID           school_name      type  size   budget
0          0     Huang High School  District  2917  1910635
1          1  Figueroa High School  District  2949  1884411

In [5]:
student_data.head(2)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61

In [6]:
# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(2)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635

## District Summary

In [7]:
total_number_schools = len(school_data_complete["school_name"].value_counts())
total_number_schools

15

In [8]:
total_number_students = len(school_data_complete["student_name"])
total_number_students

39170

In [9]:
Calculate_total_budget = school_data["budget"].sum()
Calculate_total_budget

24649428

In [10]:
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [11]:
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [12]:
total_pass_math = len(school_data_complete.loc[(school_data_complete["math_score"] >= 70), :])
percentage_pass_math = (total_pass_math/total_number_students)*100
percentage_pass_math

74.9808526933878

In [13]:
total_pass_read = len(school_data_complete.loc[(school_data_complete["reading_score"] >= 70), :])
percentage_pass_read = (total_pass_read/total_number_students)*100
percentage_pass_read

85.80546336482001

In [14]:
total_pass_read_math = len(school_data_complete.loc[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70), :])
percentage_overall_pass = (total_pass_read_math/total_number_students)*100
percentage_overall_pass

65.17232575950983

In [15]:
summary_score_data_frame = pd.DataFrame (
    {"Total Schools" : [total_number_schools] ,
    "Total Students" : [total_number_students] , 
    "Total Budget" : [Calculate_total_budget] ,
    "Average Math Score" : [average_math_score ],
     "Average Reading Score" : [average_reading_score] ,
    "% Passing Math" : [percentage_pass_math] , 
    "% Passing Reading" : [percentage_pass_read] ,
    "Overall Passing Rate" : [percentage_overall_pass ]
})
summary_score_data_frame['Total Budget'] = summary_score_data_frame['Total Budget'].map("${:,.2f}".format)
summary_score_data_frame['Average Math Score'] = summary_score_data_frame['Average Math Score'].map("{:,.2f}".format)
summary_score_data_frame['Average Reading Score'] = summary_score_data_frame['Average Reading Score'].map("{:,.2f}".format)
summary_score_data_frame['Total Students'] = summary_score_data_frame['Total Students'].map("{:,}".format)
summary_score_data_frame

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.980853,85.805463,65.172326

## School Summary

In [16]:
main_data_school_frame = school_data.set_index("school_name")
main_data_school_frame.head(2)

                      School ID      type  size   budget
school_name
Huang High School             0  District  2917  1910635
Figueroa High School          1  District  2949  1884411

In [17]:
school_type = main_data_school_frame["type"]
school_type.head(2)

school_name
Huang High School       District
Figueroa High School    District
Name: type, dtype: object

In [18]:
total_school_budget = main_data_school_frame["budget"]
total_school_budget.head(2)

school_name
Huang High School       1910635
Figueroa High School    1884411
Name: budget, dtype: int64

In [19]:
gro_sch = school_data_complete.groupby("school_name").count()
total_students_school = gro_sch["Student ID"]
total_students_school.head(2)

school_name
Bailey High School     4976
Cabrera High School    1858
Name: Student ID, dtype: int64

In [20]:
per_student_budget = total_school_budget/total_students_school
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [21]:
group_math_school = school_data_complete.groupby("school_name")["math_score"]
total_group_math_school = group_math_school.sum()
average_group_math_school = total_group_math_school/total_students_school
average_group_math_school.head(2)

school_name
Bailey High School     77.048432
Cabrera High School    83.061895
dtype: float64

In [22]:
group_read_school = school_data_complete.groupby("school_name")["reading_score"]
total_group_read_school = group_read_school.sum()
average_group_read_school = total_group_read_school/total_students_school
average_group_read_school.head(2)

school_name
Bailey High School     81.033963
Cabrera High School    83.975780
dtype: float64

In [23]:
total_pass_school_math = (school_data_complete.loc[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count())
percentage_pass_school_math = total_pass_school_math/total_students_school*100
percentage_pass_school_math.head(2)

school_name
Bailey High School     66.680064
Cabrera High School    94.133477
Name: Student ID, dtype: float64

In [24]:
total_pass_school_read = (school_data_complete.loc[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count())
percentage_pass_school_read = total_pass_school_read/total_students_school*100
percentage_pass_school_read.head(2)

school_name
Bailey High School     81.933280
Cabrera High School    97.039828
Name: Student ID, dtype: float64

In [25]:
total_pass_school_read_math = (school_data_complete.loc[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].groupby("school_name")["Student ID"].count())
percentage_pass_school_read_math = total_pass_school_read_math/total_students_school*100
percentage_pass_school_read_math.head(2)

school_name
Bailey High School     54.642283
Cabrera High School    91.334769
Name: Student ID, dtype: float64

In [26]:
summary_school_data_frame = pd.DataFrame (
    {"School Type" : school_type ,
    "Total Students" : total_students_school , 
    "Total School Budget" : total_school_budget ,
    "Per Student Budget" : per_student_budget ,
     "Average Math Score" : average_group_math_school ,
    "Average Reading Score" : average_group_read_school ,
     "% Passing Math" : percentage_pass_school_math ,
     "% Passing Reading" : percentage_pass_school_read ,
     "% Overall Passing" : percentage_pass_school_read_math
})
summary_school_data_frame['Total School Budget'] = summary_school_data_frame['Total School Budget'].map("${:,.2f}".format)
summary_school_data_frame['Per Student Budget'] = summary_school_data_frame['Per Student Budget'].map("${:,.2f}".format)
summary_school_data_frame.head(2)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769

In [27]:
summary_school_data_frame.dtypes

School Type               object
Total Students             int64
Total School Budget       object
Per Student Budget        object
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

## Top Performing Schools (By % Overall Passing)

In [28]:
top_performing_school = summary_school_data_frame.sort_values("% Overall Passing", ascending = False)
top_performing_school.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [29]:
bottom_performing_school = summary_school_data_frame.sort_values("% Overall Passing")
bottom_performing_school.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

In [30]:
average_math_school_9th = (school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby("school_name")["math_score"].mean())
average_math_school_9th.head()

school_name
Bailey High School      77.083676
Cabrera High School     83.094697
Figueroa High School    76.403037
Ford High School        77.361345
Griffin High School     82.044010
Name: math_score, dtype: float64

In [31]:
average_math_school_10th = (school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby("school_name")["math_score"].mean())
average_math_school_10th.head()

school_name
Bailey High School      76.996772
Cabrera High School     83.154506
Figueroa High School    76.539974
Ford High School        77.672316
Griffin High School     84.229064
Name: math_score, dtype: float64

In [32]:
average_math_school_11th = (school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby("school_name")["math_score"].mean())
average_math_school_11th.head()

school_name
Bailey High School      77.515588
Cabrera High School     82.765560
Figueroa High School    76.884344
Ford High School        76.918058
Griffin High School     83.842105
Name: math_score, dtype: float64

In [33]:
average_math_school_12th = (school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby("school_name")["math_score"].mean())
average_math_school_12th.head()

school_name
Bailey High School      76.492218
Cabrera High School     83.277487
Figueroa High School    77.151369
Ford High School        76.179963
Griffin High School     83.356164
Name: math_score, dtype: float64

In [34]:
math_scores_grade_data_frame = pd.DataFrame (
    {"9th" : average_math_school_9th ,
    "10th" : average_math_school_10th , 
    "11th" : average_math_school_11th ,
    "12th" : average_math_school_12th 
})
math_scores_grade_data_frame.head()

                            9th       10th       11th       12th
school_name
Bailey High School    77.083676  76.996772  77.515588  76.492218
Cabrera High School   83.094697  83.154506  82.765560  83.277487
Figueroa High School  76.403037  76.539974  76.884344  77.151369
Ford High School      77.361345  77.672316  76.918058  76.179963
Griffin High School   82.044010  84.229064  83.842105  83.356164

## Reading Score by Grade

In [35]:
average_read_school_9th = (school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby("school_name")["reading_score"].mean())
average_read_school_10th = (school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby("school_name")["reading_score"].mean())
average_read_school_11th = (school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby("school_name")["reading_score"].mean())
average_read_school_12th = (school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby("school_name")["reading_score"].mean())

In [36]:
read_scores_grade_data_frame = pd.DataFrame (
    {"9th" : average_read_school_9th ,
    "10th" : average_read_school_10th , 
    "11th" : average_read_school_11th ,
    "12th" : average_read_school_12th 
})
read_scores_grade_data_frame.head()

                            9th       10th       11th       12th
school_name
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

## Scores by School Spending

In [51]:
new = pd.DataFrame (
    {"Per Student Budget" : per_student_budget ,
     "Average Math Score" : average_group_math_school ,
    "Average Reading Score" : average_group_read_school ,
     "% Passing Math" : percentage_pass_school_math ,
     "% Passing Reading" : percentage_pass_school_read ,
     "% Overall Passing" : percentage_pass_school_read_math
})
new.head(2)

,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,
Bailey High School,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,582.0,83.061895,83.975780,94.133477,97.039828,91.334769

In [52]:
new.dtypes

Per Student Budget       float64
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

In [69]:
bins = [0, 585, 630, 645, 675]
sss_labels = ["<$584", "$585-629", "$630-644", "$645-675"]
# pd.cut(new["Per Student Budget"], bins, labels=sss_labels)
scoreByBudget = new[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].groupby(pd.cut(new["Per Student Budget"], bins=bins, labels=sss_labels )).mean()
scoreByBudget.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Per Student Budget,,,,,
<$584,83.455399,83.933814,93.460096,96.610877,90.369459
$585-629,81.899826,83.155286,87.133538,92.718205,81.418596
$630-644,78.518855,81.624473,73.484209,84.391793,62.857656
$645-675,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

In [78]:
new_size = pd.DataFrame (
    {"Total Students" : total_students_school , 
     "Average Math Score" : average_group_math_school ,
    "Average Reading Score" : average_group_read_school ,
     "% Passing Math" : percentage_pass_school_math ,
     "% Passing Reading" : percentage_pass_school_read ,
     "% Overall Passing" : percentage_pass_school_read_math
})

In [80]:
new_size.dtypes

Total Students             int64
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

In [81]:
bins = [0, 1000, 2000, 5000]
s_labels = ["Small < 1000", "Medium (1000-2000)", "Large (2000-5000)"]
scores_school_size = new_size[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].groupby(pd.cut(new_size["Total Students"], bins=bins, labels=s_labels )).mean()
scores_school_size.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Total Students,,,,,
Small < 1000,83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

 ## Scores by School Type

In [ ]:
bins = [0, 1000, 2000, 5000]
s_labels = ["Charter", "District"]
scores_school_type = new_size[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].groupby(pd.cut(new_size["Total Students"], bins=bins, labels=s_labels )).mean()
scores_school_type.head()